@import "root";
@import "header";
@import "footer";
@import "main";


@mixin important-text {
    color: green;
    text-align: center;
    border: 2px solid red;
    font-weight: bold; 
}

.danger p{
    @include important-text;
    color: darkblue;
}

.danger1 p{
    @extend .danger;
    color: rgb(104, 59, 59); 
}